/* 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

.wavy-none {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  z-index: 1;
}
.wavy-none svg {
  position: absolute;
  stroke-width: 1;
  left: 0px;
  top: 5px;
  z-index: 1;
}

.wavy {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}
.wavy svg {
  position: absolute;
  stroke-width: 2;
  top: 10px;
  left: 0px;
  z-index: 1;
  animation: animate 3s linear infinite;
}
.wavy::before {
  content: "";
  color: transparent;
  left: 0px;
  background: white;
  background-size: cover;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(-34px);
  }
}

 */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  z-index: 0;
}

canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6px;
  height: 6px;
  cursor: pointer;
  z-index: 10;
}
.button {
  background-color: white;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.circle {
  position: absolute;
  z-index: -10;
  bottom: var(--mouse-y);
  left: var(--mouse-x);
  top: var(--mouse-y);
  right: var(--mouse-x);
  width: 400%;
  height: 400%;
  background-color: #0016ec;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out;
}

.button:hover .circle {
  transform: translate(-50%, -50%) scale(1);
  background-color: #0016ec;
  border-color: #0016ec;
}
