body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

.wavy-none {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  z-index: 1;
}
.wavy-none svg {
  position: absolute;
  stroke-width: 1;
  left: 0px;
  top: 5px;
  z-index: 1;
}

.wavy {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}
.wavy svg {
  position: absolute;
  stroke-width: 2;
  top: 10px;
  left: 0px;
  z-index: 1;
  animation: animate 3s linear infinite;
}
/* 
.wavy::before {
  content: "";
  color: transparent;
  left: 0px;
  background: white;
  background-size: cover;
  animation: animate 2s linear infinite;
}
 */
@keyframes animate {
  0% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(-34px);
  }
}
