.button {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.circle {
  position: absolute;
  z-index: 0;
  bottom: var(--mouse-y);
  left: var(--mouse-x);
  top: var(--mouse-y);
  right: var(--mouse-x);
  width: 400%;
  height: 400%;
  background-color: #0016ec;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out;
}

.button:hover .circle {
  transform: translate(-50%, -50%) scale(1);
  background-color: #0016ec;
  border-color: #0016ec;
}
